.form-prestamo{
    /* opacity: 0;
    visibility: hidden; */
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgb(245, 237, 237);
      
}
.titulo_form{
    color: #5aa469;
    padding-top: 7%;
    margin-left: 28%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 28px;
}
.form_prest{
    margin-left: 27%;
    margin-top: 8px;
    width: 450px;
    height: 400px;
    padding: 2%;
    border: 2px solid black;
    text-align: center;
    justify-content: center;
    background: #d6d2c4;
    border-radius: 16px;
}

#aprendiz{
    margin-top: 2%;
    width: 40%;
    height: 6%;
    float: left;
    margin-left: 29%;
    border: 2px solid black;
    text-align: center;
    font-size: 13px;
}
.aprend_pres{
    margin-top: 21%;
    float: left;
    margin-left: 153px;
}

#reg_prestamo{
    margin-top: 18%;
    border: 2px solid black;
    width: 30%;
    height: 13%;
    font-size: 16px;
    background: #adce74;
    border-bottom: 6px solid #61b15a;
    transition: border-bottom .1s ease ;
    margin-right: 150px;
    float: right;
    align-items: center;
}
#reg_prestamo:hover{
    cursor:pointer;
    border: 2px solid black;
    border-bottom: 3px solid #5aa469;
}

