:root{
    --coloresgenerales1:rgb(24,130,118);
    --colorDefondoDelMenu:rgb(89,181,72);
    --colorDefondoDelMenu2:rgba(60, 151, 68, 0.699);
}
.ediusu{
    display: none;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    
}
.nece{
    display: flex;
}
.imagenn{
    width: 10%;
    height: 13%;
    margin-left: -5%;
    margin-top: 22%;
}
/*Estilos del formulario*/
.form-edi{
    margin-left: 14%;
    width: 60%;
    height: 60%;
    padding: 2%;
    border: 2px solid black;
    text-align: center;
    justify-content: center;
    background: #d6d2c4;
    border-radius: 16px;
} 
.titulos{
    color: #5aa469;
    margin-top: 10%;
    margin-left: 30%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.userR{
    margin-top: 3%;
    margin-right: 67%;
    font-size: 18px;
}  

.tip_usu_edi{
    margin-top: 3%;
    width: 90%;
    border: 2px solid black;
    font-size: 14px;
    border-radius: 16px;
} 

#docu-edi{
    margin-top: 2%;
    width: 30%;
    height: 8%;
    margin-left: -20%;
    border: 2px solid black;
    text-align: center;
    font-size: 14px;
}
#nom-edi{
    margin-top: 2%;
    width: 30%;
    height: 8%;
    margin-left: 1%;
    border: 2px solid black;
    text-align: center;
    font-size: 14px;
}
#apel-edi{
    margin-top: 2%;
    width: 30%;
    height: 8%;
    margin-right: -20%;
    border: 2px solid black;
    text-align: center;
    font-size: 14px;
}
.foor{
    display: flex;
    background-color: aqua;
    width: 100%;
}
.docC{
    width: 50%;
    margin-top: -9%;
    margin-left: 25%;
}
#tip_docu_edi{
    margin-top: 3%;
    width: 65%;
    border: 2px solid black;
    font-size: 14px;
    border-radius: 16px;
}

#edad-edi{
    border: 2px solid black;
    margin-top: -6%;
    margin-right: 1%;
    width: 30%;
    height: 8%;
    float: right;
    text-align: center;
}
#contra-edi{
    margin-top: 5%;
    width: 30%;
    height: 8%;
    margin-left: 1.5%;
    float: left;
    border: 2px solid black;
    text-align: center;
    font-size: 14px;    
}
#tele-edi{
    margin-top: 5%;
    width: 30%;
    height: 8%;
    margin-left: -0.5%;
    border: 2px solid black;
    text-align: center;
    font-size: 14px;  
}
#cor-edi{
    margin-top: 5%;
    width: 30%;
    height: 8%;
    margin-right: 1%;
    float: right;
    border: 2px solid black;
    text-align: center;
    font-size: 14px;    
}
#edi{
    margin-top: 6%;
    border: 2px solid black;
    width: 20%;
    height: 13%;
    font-size: 16px;
    background: #adce74;
    border-bottom: 6px solid #61b15a;
    transition: border-bottom .1s ease ;
}
#edi:hover{
    cursor:pointer;
    border: 2px solid black;
    border-bottom: 3px solid #5aa469;
}