:root{
    --coloresgenerales1:rgb(24,130,118);
    --colorDefondoDelMenu:rgb(89,181,72);
    --colorDefondoDelMenu2:rgba(60, 151, 68, 0.699);
}
#crea_insu{
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgb(245, 237, 237);
}
/*----------formulario-------------*/

.titulo_insumo{
    color: #5aa469;
    margin-top: 6%;
    margin-left: 35%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 28px;
    
}
.cre_in{
    margin-left: 20%;
    width: 620px;
    height: 400px;
    padding: 2%;
    border: 2px solid black;
    text-align: center;
    justify-content: center;
    background: #d6d2c4;
    border-radius: 16px;
}
.cre_in a{
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
    color: orangered;
}
#tipo_insumos{
    margin-top: 8%;
    width: 40%;
    height: 6%;
    float: left;
    margin-left: -27%;
    border: 2px solid black;
    text-align: center;
    font-size: 14px;
}
#nom_insumo{
    margin-top: 6px;   
    width: 40%;
    height: 6%;
    margin-right: 40px;
    border: 2px solid black;
    text-align: center;
    font-size: 13px;
    float: right;
}
.tit_insu{
    float: right;
    margin-right: 63px;
    margin-top: -3.9%;
}
#tip_ins{
    margin-top: 17px;
    float: left;
    padding-left: 28px;
}
.dir_insu{
    float: left;
    margin-top: 53px;
    margin-left: -34%;
}
#marca_insu{
    margin-top: 1%;
    width: 40%;
    height: 6%;
    float: left;
    margin-left: 10px;
    border: 2px solid black;
    text-align: center;
    font-size: 13px;
}
.ins_marca{
    margin-top: 60px;
    float: right;
    padding-right: 375px;
}
.dir_i_marca{
    float: left;
    margin-top: 31px;
    margin-left: -30%;
}
#color_insu{
    margin-top: 5px; 
    width: 40%;
    height: 6%;
    margin-right: 40px;
    border: 2px solid black;
    text-align: center;
    font-size: 13px;
    float: right;
}
#titl_color{
    margin-top: -20px;
    float: right;
    padding-right: 75px;
}
.direc_color{
    float: right;
    margin-right: -27%;
    margin-top: 29px;
}
.btn_insumo{
    margin-top: 15%;
    border: 2px solid black;
    width: 30%;
    height: 13%;
    font-size: 16px;
    background: #adce74;
    border-bottom: 6px solid #61b15a;
    transition: border-bottom .1s ease ;
    margin-right: 200px;
    float: right;
    align-items: center;
}
.btn_insumo:hover{
    cursor:pointer;
    border: 2px solid black;
    border-bottom: 3px solid #5aa469;
}

/*--------------------crear tipo insumo-------------------*/
.crear_tipo_insumo{
    background-color: rgba(0,0,0,0.5);  
    width: 100%;
    height: 120%;
    position: fixed;
    top: -20%;
    right: 20%;
    left: 0%;
    justify-content: center;
    align-items: center;
    display: none;  
}
.content_from_ins{
    margin-top: 22%;
    margin-left: 40%;
    width: 35%;
    height: 45%;
    background: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    transition: transform 1s;
    transform: translateY(0%);  
}
#cerrar_ventana i{
    cursor: pointer;
    font-size: 40px;
    color: red;
    float: right;
    margin-top: -45px;
    margin-left: 100px;
    margin-right: 7px;
}
.formulario_t{
    background: #d6d2c4;
    margin-top: -5%;
    margin-left: 22%;
    text-align: center;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #150485;
    border: 2px solid black;
    width: 55%;
    max-height: -120%;
    padding-block: 3%;
    text-align: center;
}
.titulo_t_insumo{
    margin-left: -10px;
    margin-top: -11%;
    font-size: 25px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.dig-tip-insu{
    font-size: 18px;
    cursor:text; 
}
.ti_insumo{
    margin-top: 7%;
    height: 15%;
    text-align: center;
    padding: 5%;
    border: 2px solid black;
    text-transform: uppercase;
}
.env-insumo{
    margin-top: 8%;
    font-weight: bold;
    border: 2px solid black;
    padding: 5%;
    cursor: pointer; 
    text-align: center;
}
/*--------------------crear marca de insumo-------------------*/
.crear_marca_ins{
    background-color: rgba(0,0,0,0.5);  
    width: 100%;
    height: 120%;
    position: fixed;
    top: -20%;
    right: 20%;
    left: 0%;
    justify-content: center;
    align-items: center;
    display: none; 
}
.content_formMarca_ins{
    margin-top: 22%;
    margin-left: 40%;
    width: 35%;
    height: 45%;
    background: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    transition: transform 1s;
    transform: translateY(0%);
}
#cerrar_ventanaMarca_ins i{
    cursor: pointer;
    font-size: 40px;
    color: red;
    float: right;
    margin-top: -45px;
    margin-left: 100px;
    margin-right: 7px;
}
.formularioMarca_ins{
    background: #d6d2c4;
    margin-top: -5%;
    margin-left: 22%;
    text-align: center;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #150485;
    border: 2px solid black;
    width: 55%;
    max-height: -120%;
    padding-block: 3%;
    text-align: center;  
}
.titulo_marca_ins{
    margin-top: -11%;
    margin-left: -10px;
    font-size: 25px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold; 
}
.dig-mar-in{
    font-size: 18px;
    cursor:text;
}
.ti_marca_ins{
    margin-top: 7%;
    height: 15%;
    text-align: center;
    padding: 5%;
    border: 2px solid black;
    text-transform: uppercase;
}
.env-marca_ins{
    margin-top: 8%;
    font-weight: bold;
    border: 2px solid black;
    padding: 5%;
    cursor: pointer; 
    text-align: center;
}


/*----------------crear color del insumo------------------------*/
.crear_color_insu{
    background-color: rgba(0,0,0,0.5);  
    width: 100%;
    height: 120%;
    position: fixed;
    top: -20%;
    right: 20%;
    left: 0%;
    justify-content: center;
    align-items: center;
    display: none;  
}
.content_formColor_insu{
    margin-top: 22%;
    margin-left: 40%;
    width: 35%;
    height: 45%;
    background: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    transition: transform 1s;
    transform: translateY(0%);
}
#cerrar_ventanaColor_insu i{
    cursor: pointer;
    font-size: 40px;
    color: red;
    float: right;
    margin-top: -45px;
    margin-left: 100px;
    margin-right: 7px;
}
.formularioColor_insu{
    background: #d6d2c4;
    margin-top: -5%;
    margin-left: 22%;
    text-align: center;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #150485;
    border: 2px solid black;
    width: 55%;
    max-height: -120%;
    padding-block: 3%;
    text-align: center; 
}
.titulo_color_insu{
    margin-top: -11%;
    margin-left: -10px;
    font-size: 25px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;  
}
.dig-col-in{
    font-size: 18px;
    cursor:text;
}
.ti_color_insu{
    margin-top: 7%;
    height: 15%;
    text-align: center;
    padding: 5%;
    border: 2px solid black;
    text-transform: uppercase;
}
.env-color_insu{
    margin-top: 8%;
    font-weight: bold;
    border: 2px solid black;
    padding: 5%;
    cursor: pointer; 
    text-align: center; 
}
