#crea_maquinn{
    display: none;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    background-color: rgb(245, 237, 237);
}

.titulo_maqui{
    color: #5aa469;
    margin-top: 6%;
    margin-left: 28%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 28px;
}
.formu_maquinn{
    margin-left: 20%;
    width: 620px;
    height: 390px;
    padding: 2%;
    border: 2px solid black;
    text-align: center;
    justify-content: center;
    background: #d6d2c4;
    border-radius: 16px;
}
#serial{
    margin-top: 5%;
    width: 40%;
    height: 6%;
    float: left;
    margin-left: -22.6%;
    border: 2px solid black;
    text-align: center;
    font-size: 14px; 
}
#serial_maq{
    margin-top: 1%;
    float: left;
    margin-left: 88px;
}
#tipo_maqui{ 
    margin-top: 2px;   
    width: 40%;
    height: 6%;
    margin-right: 40px;
    border: 2px solid black;
    text-align: center;
    font-size: 13px;
    float: right;
}
#l_maquinn{
    float: right;
    margin-right: 63px;
    margin-top: -2%;
}
#marca{
    margin-top: 11%;
    width: 40%;
    height: 6%;
    float: left;
    margin-left: -35.7%;
    border: 2px solid black;
    text-align: center;
    font-size: 13px;  
}
.l_marca{
    margin-top: 40px;
    float: left;
    padding-left: 24px;    
}
.tress{
    float: left;
    margin-top: 70px;
    margin-left: -32%;  
}
.maquis_fo{
    float: right;
    margin-right: 50px;
    margin-top: 7px;
}
#color{
    margin-top: 4px; 
    width: 40%;
    height: 6%;
    margin-right: 40px;
    border: 2px solid black;
    text-align: center;
    font-size: 13px;
    float: right;
}
#t_color{ 
    margin-top: 3px;
    float: right;
    padding-right: 60px;
}
.d_color{
    float: right;
    margin-right: -27%;
    margin-top: 28px;
    
}
.formu_maquinn a{
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
    color: orangered;
}
#registrar_maquina{
    margin-top: 15%;
    border: 2px solid black;
    width: 30%;
    height: 13%;
    font-size: 16px;
    background: #adce74;
    border-bottom: 6px solid #61b15a;
    transition: border-bottom .1s ease ;
    margin-right: 200px;
    float: right;
    align-items: center;
}
#registrar_maquina:hover{
    cursor:pointer;
    border: 2px solid black;
    border-bottom: 3px solid #5aa469;
}

/*--------------------crear tipo maquinaria------------------*/

.crear_maquinarias{
    background-color: rgba(0,0,0,0.5);  
    width: 100%;
    height: 120%;
    position: fixed;
    top: -20%;
    right: 20%;
    left: 0%;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    display: none; 
}
.content_formMaquinaria{
    margin-top: 22%;
    margin-left: 40%;
    width: 35%;
    height: 45%;
    background: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    transition: transform 1s;
    transform: translateY(0%);
}
#cerrar_ventanaMaqui i{
    cursor: pointer;
    font-size: 40px;
    color: red;
    float: right;
    margin-top: -45px;
    margin-left: 100px;
    margin-right: 7px;
}
.formularioMaquinaria{
    background: #d6d2c4;
    margin-top: -5%;
    margin-left: 22%;
    text-align: center;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #150485;
    border: 2px solid black;
    width: 55%;
    max-height: -120%;
    padding-block: 3%;
    text-align: center;
}
.titulo_maquinaria{
    margin-top: -11%;
    margin-left: -10px;
    font-size: 25px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.dig-tip-maq{
    font-size: 18px;
    cursor:text;
}
.ti_maquinaria{
    margin-top: 7%;
    height: 15%;
    text-align: center;
    padding: 5%;
    border: 2px solid black;
    text-transform: uppercase;
}
.env-maquinaria{
    margin-top: 8%;
    font-weight: bold;
    border: 2px solid black;
    padding: 5%;
    cursor: pointer; 
    text-align: center;
}
/*--------------------crear marca de la maquinaria-----------------*/
.crear_marca_maq{
    background-color: rgba(0,0,0,0.5);  
    width: 100%;
    height: 120%;
    position: fixed;
    top: -20%;
    right: 20%;
    left: 0%;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    display: none;
}
.content_formMarca_maq{
    margin-top: 22%;
    margin-left: 40%;
    width: 35%;
    height: 45%;
    background: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    transition: transform 1s;
    transform: translateY(0%);
}
#cerrar_ventanaMarca i{
    cursor: pointer;
    font-size: 40px;
    color: red;
    float: right;
    margin-top: -45px;
    margin-left: 100px;
    margin-right: 7px;
}

.formularioMarca_maq{
    background: #d6d2c4;
    margin-top: -5%;
    margin-left: 22%;
    text-align: center;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #150485;
    border: 2px solid black;
    width: 55%;
    max-height: -120%;
    padding-block: 3%;
    text-align: center;
}
.titulo_marca_maq{
    margin-top: -11%;
    margin-left: -10px;
    font-size: 25px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.ti_marca_ma{
    margin-top: 7%;
    height: 15%;
    text-align: center;
    padding: 5%;
    border: 2px solid black;
    text-transform: uppercase; 
}
.dig-marc{
    font-size: 18px;
    cursor:text;
}
#env-marca_maq{
    margin-top: 8%;
    font-weight: bold;
    border: 2px solid black;
    padding: 5%;
    cursor: pointer; 
    text-align: center; 
}
/*----------------crear color de la maquinaria------------------------*/
.crear_color{
    background-color: rgba(0,0,0,0.5);  
    width: 100%;
    height: 120%;
    position: fixed;
    top: -20%;
    right: 20%;
    left: 0%;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    display: none; 
}
.content_formColor_maq{
    margin-top: 22%;
    margin-left: 40%;
    width: 35%;
    height: 45%;
    background: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    transition: transform 1s;
    transform: translateY(0%);
}
#cerrar_ventanaColor i{
    cursor: pointer;
    font-size: 40px;
    color: red;
    float: right;
    margin-top: -45px;
    margin-left: 100px;
    margin-right: 7px;  
}

.formularioColor_maq{
    background: #d6d2c4;
    margin-top: -5%;
    margin-left: 22%;
    text-align: center;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #150485;
    border: 1px solid black;
    width: 55%;
    max-height: -120%;
    padding-block: 3%;
    text-align: center;
}
.titulo_color_ma{
    margin-top: -11%;
    margin-left: -10px;
    font-size: 25px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.dig-colores{
    font-size: 18px;
    cursor:text;
}
.ti_color_maq{
    margin-top: 7%;
    height: 15%;
    text-align: center;
    padding: 5%;
    border: 2px solid black;
    text-transform: uppercase;
}
#env-color_maqui{
    margin-top: 8%;
    font-weight: bold;
    border: 2px solid black;
    padding: 5%;
    cursor: pointer; 
    text-align: center;
}
