.form-ingre{
    opacity: 0;
    display: none;
    visibility: hidden;
    text-align: center;
    z-index: 0;
    position: absolute;
    margin-left: 20%;
    width: 80%;
    height: 90%;
    margin-top: 5%;
    padding: 10px;    
}
.titulo_form{
    color: #5aa469;
    margin-top: 3%;
    margin-left: 1%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 28px;
}
.form_ingreso{
    margin-left: 20%;
    width: 620px;
    height: 420px;
    padding: 2%;
    border: 2px solid black;
    text-align: center;
    justify-content: center;
    background: #d6d2c4;
    border-radius: 16px;
}
.form_ingreso a{
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
    color: orangered;
}
.docu_prove{
    margin-top: 5%;
    width: 40%;
    height: 6%;
    float: left;
    margin-left: 5%;
    border: 2px solid black;
    text-align: center;
    font-size: 13px;
}
#insumo{
    margin-top: 15%;
    width: 40%;
    height: 6%;
    float: left;
    margin-left: -40%;
    border: 2px solid black;
    text-align: center;
    font-size: 13px;
}
.in_insumo{
    margin-top: 10%;
    float: left;
    margin-left: -28%;
}
.uno{
    float: left;
    margin-top: 20%;
    margin-left: -31%; 
}
.mas{
    margin-top: 12%;
    float: right;
    margin-right: -40%;
    font-size: 20px;
}
.mas_mat, .mas_maq{
    margin-top: 1%;
    float: right;
    margin-right: 1%;
    font-size: 20px;
}
#cant_insumo{
    margin-top: 11.5%;   
    width: 40%;
    height: 6%;
    margin-right: -35%;
    border: 2px solid black;
    text-align: center;
    font-size: 13px;
    float: right;
}
.cant_in{
    float: right;
    margin-right: 68px;
    margin-top: 6%;
}
#mate_textil{
    margin-top: 1%;
    width: 40%;
    height: 6%;
    float: left;
    margin-left: 4.7%;
    border: 2px solid black;
    text-align: center;
    font-size: 13px; 
}
.mat_tex{
    margin-top: 60px;
    float: right;
    padding-right: 65%;
}
.dos{
    float: left;
    margin-top: 33px;
    margin-left: -35%;  
}
#cant_m_textil{
    margin-top: 6px; 
    width: 40%;
    height: 6%;
    margin-right: 15px;
    border: 2px solid black;
    text-align: center;
    font-size: 13px;
    float: right;
}
.cant_mat{
    margin-top: -19px;
    float: right;
    margin-right: 40px;
}
#maquinaria{
    margin-top: 1%;
    width: 40%;
    height: 6%;
    float: left;
    margin-left: 4.7%;
    border: 2px solid black;
    text-align: center;
    font-size: 13px;
}
.maqui{
    margin-top: 60px;
    float: right;
    padding-right: 70%;
}
.tres{
    float: left;
    margin-top: 33px;
    margin-left: -34%;
}
#cant_maquinaria{
    margin-top: 6px; 
    width: 40%;
    height: 6%;
    margin-right: 15px;
    border: 2px solid black;
    text-align: center;
    font-size: 13px;
    float: right;
}
.cant_maq{
    margin-top: -20px;
    float: right;
    margin-right: 60px;
}
#ingreso{
    margin-top: 10%;
    border: 2px solid black;
    width: 30%;
    height: 13%;
    font-size: 16px;
    background: #adce74;
    border-bottom: 6px solid #61b15a;
    transition: border-bottom .1s ease ;
    margin-right: 200px;
    float: right;
    align-items: center;
}
#ingreso:hover{
    cursor:pointer;
    border: 2px solid black;
    border-bottom: 3px solid #5aa469;
}

