:root{
    --coloresgenerales1:rgb(24,130,118);
    --colorDefondoDelMenu:rgb(89,181,72);
    --colorDefondoDelMenu2:rgba(60, 151, 68, 0.699);
}
#crea_insu{
    display: none;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    background-color: rgb(245, 237, 237);
}
/*----------formulario-------------*/

.titulo_insumo{
    color: #5aa469;
    margin-top: 6%;
    margin-left: 35%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 28px;
    
}
.cre_in{
    margin-left: 20%;
    width: 620px;
    height: 400px;
    padding: 2%;
    border: 2px solid black;
    text-align: center;
    justify-content: center;
    background: #d6d2c4;
    border-radius: 16px;
}
.cre_in a{
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
    color: orangered;
}
#tipo_insumos{
    margin-top: 8%;
    width: 40%;
    height: 6%;
    float: left;
    margin-left: -27%;
    border: 2px solid black;
    text-align: center;
    font-size: 14px;
}
#nom_insumo{
    margin-top: 6px;   
    width: 40%;
    height: 6%;
    margin-right: 40px;
    border: 2px solid black;
    text-align: center;
    font-size: 13px;
    float: right;
}
.tit_insu{
    float: right;
    margin-right: 63px;
    margin-top: -3.9%;
}
#tip_ins{
    margin-top: 17px;
    float: left;
    padding-left: 28px;
}
.dir_insu{
    float: left;
    margin-top: 53px;
    margin-left: -34%;
}
#marca_insu{
    margin-top: 1%;
    width: 40%;
    height: 6%;
    float: left;
    margin-left: 10px;
    border: 2px solid black;
    text-align: center;
    font-size: 13px;
}
.ins_marca{
    margin-top: 60px;
    float: right;
    padding-right: 375px;
}
.dir_i_marca{
    float: left;
    margin-top: 31px;
    margin-left: -30%;
}
#color_insu{
    margin-top: 5px; 
    width: 40%;
    height: 6%;
    margin-right: 40px;
    border: 2px solid black;
    text-align: center;
    font-size: 13px;
    float: right;
}
#titl_color{
    margin-top: -20px;
    float: right;
    padding-right: 75px;
}
.direc_color{
    float: right;
    margin-right: -27%;
    margin-top: 29px;
}
.btn_insumo{
    margin-top: 15%;
    border: 2px solid black;
    width: 30%;
    height: 13%;
    font-size: 16px;
    background: #adce74;
    border-bottom: 6px solid #61b15a;
    transition: border-bottom .1s ease ;
    margin-right: 200px;
    float: right;
    align-items: center;
}
.btn_insumo:hover{
    cursor:pointer;
    border: 2px solid black;
    border-bottom: 3px solid #5aa469;
}

/* -----------------------------------crear marca del insumo------------------------ */
.crear_marca_insumo{
    background-color: #0e57f550;
    z-index: 4;
    width: 80%;
    height: 80%;
    margin-top: -35%;
    position: absolute;
    display: none;
}

.content_form{
    margin-top: 5%;
    margin-left: 15%;
    width: 70%;
    height: 70%;
    background: #fff;
    text-align: center;
}

#cerrar_ventana i{
    font-size: 40px;
    cursor: pointer;
    color: red;

}

#cerrar_ventana {
    float: right;
}
/*--------------------crear tipo insumo-------------------*/

.crear_tipo_insumo{
    background-color: #0e57f550;
    z-index: 4;
    width: 80%;
    height: 80%;
    margin-top: -35%;
    position: absolute;
    display: none;
}

.content_from{
    margin-top: 5%;
    margin-left: 15%;
    width: 70%;
    height: 70%;
    background: #fff;
    text-align: center;  
}

#cerrar_ventana i{
    font-size: 40px;
    cursor: pointer;
    color: red;

}

#cerrar_ventana {
    float: right;
}

.formulario_t{
    background: #d6d2c4;
    margin-top: 7%;
    margin-left: 22%;
    text-align: center;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #150485;
    border: 1px solid black;
    width: 54%;
    height: 192px;
    text-align: center;
}
.titulo_t_insumo{
   padding: 8px;
   font-size: 25px;
   font-weight: bold;
   text-align: center;
   margin-left: 44px;

}
.ti_insumo{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 15px;
    padding: 8px;
    border: 1px solid #000;
}
.env-insumo{
    font-weight: bold;
    margin-left: 13px;
    padding: 10px;
    margin-top: 23px;
    border: 0;
    border-radius: 10px;
    width: 120px;
    height: 35px;
    font-size: 14px;
    cursor: pointer;
    color: #000;
    background: #DC540C;
    box-shadow:20px 10px  20px rgba(226, 87, 6, 0.5);
}
/*--------------------crear marca de insumo-------------------*/

.crear_marca{
    background-color: #0e57f550;
    z-index: 4;
    width: 80%;
    height: 80%;
    margin-top: -35%;
    position: absolute;
    display: none;
}
.content_formMarca{
    margin-top: 5%;
    margin-left: 15%;
    width: 70%;
    height: 70%;
    background: #fff;
    text-align: center;
}
#cerrar_ventanaMarca i{
    font-size: 40px;
    cursor: pointer;
    color: red;

}

#cerrar_ventanaMarca {
    float: right;
}
.formularioMarca{
    background: #d6d2c4;
    margin-top: 7%;
    margin-left: 22%;
    text-align: center;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #150485;
    border: 1px solid black;
    width: 54%;
    height: 192px;
    text-align: center;
}
.titulo_marca{
    padding: 8px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
     margin-left: 44px;
}
.ti_marca{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 15px;
    padding: 8px;
    border: 1px solid #000; 
}
.env-marca{
    font-weight: bold;
    margin-left: 13px;
    padding: 10px;
    margin-top: 23px;
    border: 0;
    border-radius: 10px;
    width: 120px;
    height: 35px;
    font-size: 14px;
    cursor: pointer;
    color: #000;
    background: #DC540C;
    box-shadow:20px 10px  20px rgba(226, 87, 6, 0.5); 
}
/*----------------crear color del insumo------------------------*/
.crear_color{
    background-color: #0e57f550;
    z-index: 4;
    width: 80%;
    height: 80%;
    margin-top: -35%;
    position: absolute;
    display: none; 
}
.content_formColor{
    margin-top: 5%;
    margin-left: 15%;
    width: 70%;
    height: 70%;
    background: #fff;
    text-align: center;
}
#cerrar_ventanaColor i{
    font-size: 40px;
    cursor: pointer;
    color: red;

}

#cerrar_ventanaColor {
    float: right;
}
.formularioColor{
    background: #d6d2c4;
    margin-top: 7%;
    margin-left: 22%;
    text-align: center;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #150485;
    border: 1px solid black;
    width: 54%;
    height: 192px;
    text-align: center;
}
.titulo_color{
    padding: 8px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-left: 44px;
}
.ti_color{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 15px;
    padding: 8px;
    border: 1px solid #000;
}
.env-color{
    font-weight: bold;
    margin-left: 13px;
    padding: 10px;
    margin-top: 23px;
    border: 0;
    border-radius: 10px;
    width: 120px;
    height: 35px;
    font-size: 14px;
    cursor: pointer;
    color: #000;
    background: #DC540C;
    box-shadow:20px 10px  20px rgba(226, 87, 6, 0.5); 
}