#crea_maquinn{
    display: none;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    background-color: rgb(245, 237, 237);
}

.titulo_maqui{
    color: #5aa469;
    margin-top: 6%;
    margin-left: 27%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.formu_maquinn{
    margin-left: 20%;
    width: 620px;
    height: 400px;
    padding: 2%;
    border: 2px solid black;
    text-align: center;
    justify-content: center;
    background: #d6d2c4;
    border-radius: 16px;
}
#serial{
    margin-top: 7%;
    width: 40%;
    height: 6%;
    float: left;
    margin-left: 20px;
    border: 2px solid black;
    text-align: center;
    font-size: 14px; 
}
#tipo_maqui{ 
    margin-top: 1px;   
    width: 40%;
    height: 6%;
    margin-right: 40px;
    border: 2px solid black;
    text-align: center;
    font-size: 13px;
    float: right;
}
#marca{
    margin-top: 11%;
    width: 40%;
    height: 6%;
    float: left;
    margin-left: -37%;
    border: 2px solid black;
    text-align: center;
    font-size: 13px;  
}
.l_marca{
    margin-top: 40px;
    float: left;
    padding-left: 24px;    
}
.tress{
    float: left;
    margin-top: 60px;
    margin-left: -35%;  
}
#color{
    
    width: 40%;
    height: 6%;
    margin-right: 40px;
    border: 2px solid black;
    text-align: center;
    font-size: 13px;
    float: right;
}
#t_color{ 
    margin-top: 6px;
    float: right;
    padding-right: 60px;
}
.d_color{
    float: right;
    margin-right: -30%;
    margin-top: 19px;
    
}
.formu_maquinn a{
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
    color: orangered;
}
#registrar_maquina{
    margin-top: 15%;
    border: 2px solid black;
    width: 30%;
    height: 13%;
    font-size: 16px;
    background: #adce74;
    border-bottom: 6px solid #61b15a;
    transition: border-bottom .1s ease ;
    margin-right: 200px;
    float: right;
    align-items: center;
}
#registrar_maquina:hover{
    cursor:pointer;
    border: 2px solid black;
    border-bottom: 3px solid #5aa469;
}

/*--------------------crear tipo maquinaria------------------*/
/*----------------crear color del material textil------------------------*/
.crear_maquis{
    background-color: rgba(0,0,0,0.5);  
    width: 100%;
    height: 120%;
    position: fixed;
    top: 60%;
    right: 20%;
    left: 0%;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    display: none; 
    
}
.content_formMaquinaria{
    margin-top: 17%;
    margin-left: 40%;
    width: 35%;
    height: 47%;
    background: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    transition: transform 1s;
    transform: translateY(0%);
}
#cerrar_ventanaMaquis img{
    font-size: 40px;
    cursor: pointer;
    color: red;

}

#cerrar_ventanaMaquis {
    float: right;
}
.formularioMaquinaria{
    background: #d6d2c4;
    margin-top: 2%;
    margin-left: 20%;
    text-align: center;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #150485;
    border: 2px solid black;
    width: 60%;
    max-height: -150%;
    padding-block: 3%;
    text-align: center;
}
.titulo_maquinaria{
    margin-top: -10%;
    margin-left: 10px;
    font-size: 25px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.ti_maquinaria{
    height: 15%;
    text-align: center;
    padding: 3%;
    border: 2px solid black;
    text-transform: uppercase;
}
.env-maquinaria{
    font-weight: bold;
    border: 2px solid black;
    padding: 5%;
    cursor: pointer; 
    text-align: center; 
}
/*--------------------crear marca de la maquinaria-----------------*/
.crear_marca{
    background-color: rgba(0,0,0,0.5);  
    width: 100%;
    height: 120%;
    position: fixed;
    top: 60%;
    right: 20%;
    left: 0%;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    display: none; 
}
.content_formMarca{
    margin-top: 17%;
    margin-left: 40%;
    width: 35%;
    height: 47%;
    background: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    transition: transform 1s;
    transform: translateY(0%);
}
#cerrar_ventanaMarca img{
    font-size: 40px;
    cursor: pointer;
    color: red;
}

#cerrar_ventanaMarca {
    float: right;
}
.formularioMarca{
    background: #d6d2c4;
    margin-top: 2%;
    margin-left: 20%;
    text-align: center;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #150485;
    border: 2px solid black;
    width: 60%;
    max-height: -150%;
    padding-block: 3%;
    text-align: center;
}
.titulo_marca{
    margin-left: 10px;
    margin-top: -10%;
    font-size: 25px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.ti_marca{
    height: 15%;
    text-align: center;
    padding: 3%;
    border: 2px solid black;
    text-transform: uppercase;
}
.env-marca{
    font-weight: bold;
    border: 2px solid black;
    padding: 5%;
    cursor: pointer; 
    text-align: center;
}
/*----------------crear color de la maquinaria------------------------*/
.crear_color{
    background-color: rgba(0,0,0,0.5);  
    width: 100%;
    height: 120%;
    position: fixed;
    top: 60%;
    right: 20%;
    left: 0%;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    display: none; 
}
.content_formColor{
    margin-top: 17%;
    margin-left: 40%;
    width: 35%;
    height: 47%;
    background: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    transition: transform 1s;
    transform: translateY(0%);
}
#cerrar_ventanaColor img{
    font-size: 40px;
    cursor: pointer;
    color: red;
   
}

#cerrar_ventanaColor {
    float: right;
}
.formularioColor{
    background: #d6d2c4;
    margin-top: 2%;
    margin-left: 20%;
    text-align: center;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #150485;
    border: 1px solid black;
    width: 60%;
    max-height: -150%;
    padding-block: 3%;
    text-align: center;
}
.titulo_color{
    margin-top: -10%;
    margin-left: 10px;
    font-size: 25px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.ti_color{
    height: 15%;
    text-align: center;
    padding: 3%;
    border: 2px solid black;
    text-transform: uppercase;
}
.env-color{
    font-weight: bold;
    border: 2px solid black;
    padding: 5%;
    cursor: pointer; 
    text-align: center;
}
