:root{
    --coloresgenerales1:rgb(24,130,118);
    --colorDefondoDelMenu:rgb(89,181,72);
    --colorDefondoDelMenu2:rgba(60, 151, 68, 0.699);
}
/*-------------estilos --------*/
#cre_mate{
    display: none;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 500px;
    background-color: rgb(245, 237, 237);
}
/* .crear_mtextil{
    margin-top: -55.2%;
} */

.titulo_material{
    color: #5aa469;
    margin-top: 6%;
    margin-left: 28%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 27px;
}
.for_mtex{
    margin-left: 10%;
    width: 850px;
    height: 390px;
    padding: 2%;
    border: 2px solid black;
    text-align: center;
    justify-content: center;
    background: #d6d2c4;
    border-radius: 16px;
}
.for_mtex a{
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
    color: orangered;
}
.l_text{
    margin-top: 1px;
    float: left;
    padding-left: 26px;
}
#nom_material{
    margin-top: 3.2%;
    width: 28%;
    height: 6%;
    margin-left: -93%;
    border: 2px solid black;
    text-align: center;
    font-size: 13px;
}
.tela{
    margin-top: -2.8%;
    width: 28%;
    height: 6%;
    float: left;
    margin-left: 34.1%;
    border: 2px solid black;
    text-align: center;
    font-size: 13px;
}
#t_tela{
    margin-top: -46px;
    float: right;
    padding-right: 387px;
}
.d_tela{
    float: right;
    margin-right: 44.5%;
    margin-top: -1.8%;
}
.marca_tex{
    margin-top: -7.7%;
    width: 28%;
    height: 6%;
    float: right;
    margin-right: 25px;
    border: 2px solid black;
    text-align: center;
    font-size: 13px;
}
.tit_marca{
    margin-top: -86px;
    float: right;
    padding-right: 120px;
}
.ul_marca{
    float: right;
    margin-right: 85px;
    margin-top: -7%;
}
#color_tex{
    margin-top: 1px;
    width: 28%;
    height: 6%;
    margin-left: -72%;
    border: 2px solid black;
    text-align: center;
    font-size: 13px; 
}
.titl_color{
    margin-top: -3%;
    float: left;
    padding-left: 54px;
}
.dir_color{
    float: left;
    margin-left: 45px;
    margin-top: 5px;
}
.metraje{
    margin-top: -2.5%;
    width: 28%;
    height: 6%;
    float: left;
    margin-left: 134px;
    border: 2px solid black;
    text-align: center;
    font-size: 13px;
}
.t_metraje{
    margin-top: -47px;
    float: right;
    padding-right: 391px;
}
.cant_rollos{
    margin-top: -2.6%;
    width: 28%;
    height: 6%;
    float: right;
    margin-right: 25px;
    border: 2px solid black;
    text-align: center;
    font-size: 13px;
}
.t_rollos{
    margin-top: -48px;
    float: right;
    padding-right: 120px;
}

#regis_material{
    margin-top: 11%;
    border: 2px solid black;
    width: 30%;
    height: 13%;
    font-size: 16px;
    background: #adce74;
    border-bottom: 6px solid #61b15a;
    transition: border-bottom .1s ease ;
    margin-right: 292px;
    float: right;
    align-items: center;   
}
#regis_material:hover{
    cursor:pointer;
    border: 2px solid black;
    border-bottom: 3px solid #5aa469;
}
/*--------------------crear tipo tela-------------------*/

.crear_tipo_tela_textil{
    background-color: rgba(0,0,0,0.5);  
    width: 100%;
    height: 120%;
    position: fixed;
    top: -20%;
    right: 20%;
    left: 0%;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    display: none; 
}

.content_from_textil{
    margin-top: 22%;
    margin-left: 40%;
    width: 35%;
    height: 45%;
    background: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    transition: transform 1s;
    transform: translateY(0%); 
}

#cerrar_ventana_textil i{
    cursor: pointer;
    font-size: 40px;
    color: red;
    float: right;
    margin-top: -45px;
    margin-left: 100px;
    margin-right: 7px;
}

.formulario_t{
    background: #d6d2c4;
    margin-top: -5%;
    margin-left: 22%;
    text-align: center;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #150485;
    border: 2px solid black;
    width: 55%;
    max-height: -120%;
    padding-block: 3%;
    text-align: center;
}
.titulo_tipo_tela{
    margin-left: -10px;
    margin-top: -11%;
    font-size: 25px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

}
.dig-tip-t{
    font-size: 18px;
    cursor:text;
}
.tipoMax_tela{
    margin-top: 7%;
    height: 15%;
    text-align: center;
    padding: 5%;
    border: 2px solid black;
    text-transform: uppercase;
}
.env-tela{
    margin-top: 8%;
    font-weight: bold;
    border: 2px solid black;
    padding: 5%;
    cursor: pointer; 
    text-align: center;
}
/*--------------------crear marca de material textil-------------------*/

.crear_marca_textil{
    background-color: rgba(0,0,0,0.5);  
    width: 100%;
    height: 120%;
    position: fixed;
    top: -20%;
    right: 20%;
    left: 0%;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    display: none; 
}
.content_formMarca_textil{
    margin-top: 22%;
    margin-left: 40%;
    width: 35%;
    height: 45%;
    background: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    transition: transform 1s;
    transform: translateY(0%);
}
#cerrar_ventanaMarca_textil i{
    cursor: pointer;
    font-size: 40px;
    color: red;
    float: right;
    margin-top: -45px;
    margin-left: 100px;
    margin-right: 7px;
}

.formularioMarca_textil{
    background: #d6d2c4;
    margin-top: -5%;
    margin-left: 22%;
    text-align: center;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #150485;
    border: 2px solid black;
    width: 55%;
    max-height: -120%;
    padding-block: 3%;
    text-align: center;
}
.titulo_marca_textil{
    margin-top: -11%;
    margin-left: -10px;
    font-size: 25px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.ti_marca_textil{
    margin-top: 7%;
    height: 15%;
    text-align: center;
    padding: 5%;
    border: 2px solid black;
    text-transform: uppercase; 
}
.dig-mar-t{
    font-size: 18px;
    cursor:text;
}
.env-marca_textil{
    margin-top: 8%;
    font-weight: bold;
    border: 2px solid black;
    padding: 5%;
    cursor: pointer; 
    text-align: center; 
}

/*----------------crear color del material textil------------------------*/
.crear_color_textil{
    background-color: rgba(0,0,0,0.5);  
    width: 100%;
    height: 120%;
    position: fixed;
    top: -20%;
    right: 20%;
    left: 0%;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    display: none; 
}
.content_formColor_textil{
    margin-top: 22%;
    margin-left: 40%;
    width: 35%;
    height: 45%;
    background: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    transition: transform 1s;
    transform: translateY(0%);
}
#cerrar_ventanaColor_textil i{
    cursor: pointer;
    font-size: 40px;
    color: red;
    float: right;
    margin-top: -45px;
    margin-left: 100px;
    margin-right: 7px;
}

.formularioColor_textil{
    background: #d6d2c4;
    margin-top: -5%;
    margin-left: 22%;
    text-align: center;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #150485;
    border: 2px solid black;
    width: 55%;
    max-height: -120%;
    padding-block: 3%;
    text-align: center;
}
.titulo_color_textil{
    margin-left: -10px;
    margin-top: -11%;
    font-size: 25px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

}
.dig-col-t{
    font-size: 18px;
    cursor:text;
}
.ti_color_textil{
    margin-top: 7%;
    height: 15%;
    text-align: center;
    padding: 5%;
    border: 2px solid black;
    text-transform: uppercase;
}
.env-color_textil{
    margin-top: 8%;
    font-weight: bold;
    border: 2px solid black;
    padding: 5%;
    cursor: pointer; 
    text-align: center;
}