*{
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --coloresgenerales1:rgb(24,130,118);
    --colorDefondoDelMenu:rgb(89,181,72);
    --colorDefondoDelMenu2:rgba(60, 151, 68, 0.699);
}

/* header------------------------------- */
header{
    border-bottom: 2px solid black;
    padding-top: 10px;
    padding-bottom: 20px;
    position: absolute;

}

.content_header{
    text-align: center;
    font-size: 20px;
    display: flex;
    padding: 0 20px 0 20px;
    width: 100%;
}

.contener{
    border:1px sold red;
}

.title{
    width: 50%;
    margin-left: 25%;
    border: 1px solid transparent;
    transform: translateX(-0%);
    transition: all 0.4s;
    
}

.title-active{
    width: 70%;
    margin-left: 0%;
    transform: translateX(-0%);
    transition: all 0.4s;
    border: 1px solid transparent;
}

.user_min{
    
    /* width: 30%; */
    height: 52px;
    display: flex;
    margin-left: 6%;
    border-radius: 25px;
    background-color: rgba(48, 47, 47, 0.151);
}

.user_min samp{
    width: 100%;
    display: flex;
}

.ul_users{
    position: absolute;
    border-radius: 11px;
    margin-top: 1.3%;
    background: rgb(129, 212, 112);
    text-align: center;
    margin-left: -8%;
    font-size: 20px;
    z-index: 2;
    display: none;/* escondiendo lo de actualizar y no actualizar  */

}

.ul_users-active{
    display: block;

}
.ul_users li a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    cursor: pointer;
}

.opc:hover{
    cursor: pointer;
}


.ul_users li{
    list-style-type: none;
    padding-top: 10px;
    width: 100%;
}
.ul_users .a:hover{
    border: black;
    background-color: rgba(0, 0, 0, 0.158);
}

.img_user{
    width: 50px;
    border-radius: 50%;
    border: 1px solid rgb(19, 0, 128);
}


.welcome_name{
    
    padding-right: 10px;
    font-size: 10px;
    text-align: left;
}

.welcome_name span{
    margin-top: 50px;
}

.nam{
    margin-top: 10%;
    font-size: 20px;
}

.content_us{
    margin-top: 5%;
    display: flex   ;
}


/* -------------------menu izquierda------- */

.btn_menu{
    margin-left: 18.5%;
    cursor: pointer;
    z-index: 3;
    border-radius: 50%;
    font-size: 30px;
    background-color: rgb(32,172,155);
    padding: 6px;
    color: white;
    margin-top: -2.8%;
    position: absolute;
}

.btn-active{
    margin-left: 1%;
    cursor: pointer;
    margin-top: 1.7%;
    font-size: 30px;
    z-index: 3;
    border-radius: 0;
    color: black;
    background-color: rgb(32,172,155);
    position: absolute;
}

.nav{
    position: absolute;
    
    border-right: 1px solid black;
    width: 20%;
    height: 50vh;
    margin-left: 0;
    transform: translateX(-0%);
    transition: all 0.9s;
}


.title_int{
    text-decoration: none;
    color: white;
}


.title_intruc{
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 30px;   
    width: 100%;
    color: white;
    height: 13vh auto;
    background: var(--coloresgenerales1);
    text-align: center;
    text-decoration: none;

}

.img_logo{
    width: 100%;
    height: 35vh;
}


.sections{
    font-size: 30px;
    text-align: center;
}

.mostrar{
    display: none;
    transition: all 4s;
}


.menu{
    top: 58px;
    left: 0;
    width: 100%;
}


.menu ul{
    background: orange;
    display: flex;
    list-style: none;
}

.menu ul ul {
     display: block;
}

.menu a{
    display: block;
    padding: 15px 28px;
    color: #fff;
    text-decoration: none;
}

.menu a:hover{
    background: rgba(0, 0, 0, 0.3);
}

.menu a span{
    margin-left: 10px;
}

.menu ul li ul{
    display: none;
    position: static;
}

.menu ul li:hover ul{
    display: block;
    
    
}


.menu ul{
    flex-direction: column;
    display: block;
    background:var(--colorDefondoDelMenu);
}

.menu ul ul{
    background-color:var(--colorDefondoDelMenu2);
}


.menu a span{
    position: absolute;
    right: 6px;
}


.logo_institu{
    width: 65%;
    margin-left: 15%;
    height: 133.2px;
}

/*-----------------formulario---------------*/
.formul{
    display: flex;
    width: 500px;
    height: 430px;
    position: absolute;
    left: 35%;
    top: 85px;
}
.titulo_material{
    padding-top: 110px;
    margin-left: 100px;
    font-size: 20px;
    color: #2A906E;
    text-align: center;
}
form{
    border: 1px solid #000;
    width: 500px;
    height: 430px;
    padding: 23px;
    border-radius: 15px;
    margin-top: 70px;
}
label{
    padding: 8px;
    font-weight: bold;
    display: block;
    color: black;
    font-family: serif;
    margin-left: 20px;
}
.nom_material{
    margin-left: 5px;
    font-size: 15px;
    padding: 8px;
    width: 210px;
    border: 1px solid #000;

}
.tela{
    border: 1px solid #000;
    font-size: 15px;
    padding: 8px;
    width: 210px;
    float: right;
    margin-right: 5px;
    margin-top: -36px;  
}
.t_tela{
    margin-top: -71px;
    float: right;
    font-weight: bold;
    display: block;
    color: black;
    font-family: serif;
    padding-right: 70px;
}
.d_tela{
    text-decoration: none;
    font-size: 15px;
    float: right;
    margin-right: 50px;
    margin-top: -15px;
    color: #228B22;
}
.marca{
    margin-top: 10px;
    margin-left: 5px;
    font-size: 15px;
    padding: 8px;
    width: 210px;
    border: 1px solid #000;
}
.t_marca{
    margin-bottom: -8px;
    padding: 8px;
    font-weight: bold;
    display: block;
    color: black;
    font-family: serif;
    margin-left: 20px;
}
.d_marca{
    padding-top: 60px;
    padding: 10px;
    text-decoration: none;
    font-size: 15px;
    margin-left: 15px;
    color: #228B22;
}
.color{
    border: 1px solid #000;
    font-size: 15px;
    padding: 8px;
    width: 210px;
    float: right;
    margin-right: 5px;
    margin-top: -54px;
}
.t_color{
    margin-top: -89px;
    float: right;
    font-weight: bold;
    display: block;
    color: black;
    font-family: serif;
    padding-right: 100px;
}
.d_color{
    text-decoration: none;
    font-size: 15px;
    float: right;
    margin-right: 70px;
    margin-top: -32px;
    color: #228B22;
}
.metraje{
    margin-top: 10px;
    margin-left: 118px;
    font-size: 15px;
    padding: 8px;
    width: 210px;
    border: 1px solid #000;
}
.t_metraje{
    margin-bottom: -8px;
    font-weight: bold;
    display: block;
    color: black;
    font-family: serif;
    margin-left: 170px;
}

.continuar{
    font-weight: bold;
    margin-left: 160px;
    padding: 10px;
    margin-top: 23px;
    border: 0;
    border-radius: 10px;
    width: 120px;
    height: 35px;
    font-size: 14px;
    cursor: pointer;
    color: #000;
    background: #DC540C;
    box-shadow:20px 10px  20px rgba(226, 87, 6, 0.5);   
}
/*--------------------crear tipo tela-------------------*/

.crear_tipo_tela{
    background-color: #228b2250;
    z-index: 4;
    width: 100%;
    height: 100%;
    margin-top: -10%;
    position: absolute;
    display: none;
}

.content_from{
    margin-top: 11%;
    margin-left: 35%;
    width: 42%;
    height: 47%;
    background: #fff;
    text-align: center;  
}

#cerrar_ventana i{
    font-size: 40px;
    cursor: pointer;
    color: red;

}

#cerrar_ventana {
    float: right;
}

.formulario_t{
    background: #d6d2c4;
    margin-top: 7%;
    margin-left: 22%;
    text-align: center;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #150485;
    border: 1px solid black;
    width: 54%;
    height: 192px;
    text-align: center;
}
.titulo_t_tela{
   padding: 8px;
   font-size: 25px;
   font-weight: bold;
   text-align: center;
   margin-left: 44px;

}
.ti_tela{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 15px;
    padding: 8px;
    border: 1px solid #000;
}
.env-tela{
    font-weight: bold;
    margin-left: 13px;
    padding: 10px;
    margin-top: 23px;
    border: 0;
    border-radius: 10px;
    width: 120px;
    height: 35px;
    font-size: 14px;
    cursor: pointer;
    color: #000;
    background: #DC540C;
    box-shadow:20px 10px  20px rgba(226, 87, 6, 0.5);
}
/*--------------------crear marca de material textil-------------------*/

.crear_marca{
    background-color: #228b2250;
    z-index: 4;
    width: 100%;
    height: 100%;
    margin-top: -10%;
    position: absolute;
    display: none;
}
.content_formMarca{
    margin-top: 11%;
    margin-left: 35%;
    width: 42%;
    height: 47%;
    background: #fff;
    text-align: center;
}
#cerrar_ventanaMarca i{
    font-size: 40px;
    cursor: pointer;
    color: red;

}

#cerrar_ventanaMarca {
    float: right;
}
.formularioMarca{
    background: #d6d2c4;
    margin-top: 7%;
    margin-left: 22%;
    text-align: center;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #150485;
    border: 1px solid black;
    width: 54%;
    height: 192px;
    text-align: center;
}
.titulo_marca{
    padding: 8px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
     margin-left: 44px;
}
.ti_marca{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 15px;
    padding: 8px;
    border: 1px solid #000; 
}
.env-marca{
    font-weight: bold;
    margin-left: 13px;
    padding: 10px;
    margin-top: 23px;
    border: 0;
    border-radius: 10px;
    width: 120px;
    height: 35px;
    font-size: 14px;
    cursor: pointer;
    color: #000;
    background: #DC540C;
    box-shadow:20px 10px  20px rgba(226, 87, 6, 0.5); 
}

/*----------------crear color del material textil------------------------*/
.crear_color{
    background-color: #228b2250;
    z-index: 4;
    width: 100%;
    height: 100%;
    margin-top: -10%;
    position: absolute;
    display: none; 
}
.content_formColor{
    margin-top: 11%;
    margin-left: 35%;
    width: 42%;
    height: 47%;
    background: #fff;
    text-align: center;
}
#cerrar_ventanaColor i{
    font-size: 40px;
    cursor: pointer;
    color: red;

}

#cerrar_ventanaColor {
    float: right;
}
.formularioColor{
    background: #d6d2c4;
    margin-top: 7%;
    margin-left: 22%;
    text-align: center;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #150485;
    border: 1px solid black;
    width: 54%;
    height: 192px;
    text-align: center;
}
.titulo_color{
    padding: 8px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-left: 44px;
}
.ti_color{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 15px;
    padding: 8px;
    border: 1px solid #000;
}
.env-color{
    font-weight: bold;
    margin-left: 13px;
    padding: 10px;
    margin-top: 23px;
    border: 0;
    border-radius: 10px;
    width: 120px;
    height: 35px;
    font-size: 14px;
    cursor: pointer;
    color: #000;
    background: #DC540C;
    box-shadow:20px 10px  20px rgba(226, 87, 6, 0.5); 
}