*{
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --coloresgenerales1:rgb(24,130,118);
    --colorDefondoDelMenu:rgb(89,181,72);
    --colorDefondoDelMenu2:rgba(60, 151, 68, 0.699);
}

/* header------------------------------- */
header{
    border-bottom: 2px solid black;
    padding-top: 10px;
    padding-bottom: 20px;
    position: absolute;

}

.content_header{
    text-align: center;
    font-size: 20px;
    display: flex;
    padding: 0 20px 0 20px;
    width: 100%;
}

.contener{
    border:1px sold red;
}

.title{
    width: 50%;
    margin-left: 25%;
    border: 1px solid transparent;
    transform: translateX(-0%);
    transition: all 0.4s;
    
}

.title-active{
    width: 70%;
    margin-left: 0%;
    transform: translateX(-0%);
    transition: all 0.4s;
    border: 1px solid transparent;
}

.user_min{
    
    /* width: 30%; */
    height: 52px;
    display: flex;
    margin-left: 6%;
    border-radius: 25px;
    background-color: rgba(48, 47, 47, 0.151);
}

.user_min samp{
    width: 100%;
    display: flex;
}

.ul_users{
    position: absolute;
    border-radius: 1px;
    margin-top: 1.3%;
    background: rgb(129, 212, 112);
    text-align: left;
    margin-left: -5%;
    z-index: 2;
    display: none;/* escondiendo lo de actualizar y no actualizar  */

}
.ul_users li a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    cursor: pointer;
}

.opc:hover{
    cursor: pointer;
}


.ul_users li{
    list-style-type: none;
    padding-top: 10px;
    width: 100%;
}
.ul_users .a:hover{
    border: black;
    background-color: rgba(0, 0, 0, 0.158);
}

.img_user{
    width: 50px;
    border-radius: 50%;
    border: 1px solid rgb(19, 0, 128);
}


.welcome_name{
    
    padding-right: 10px;
    font-size: 10px;
    text-align: left;
}

.welcome_name span{
    margin-top: 50px;
}

.nam{
    margin-top: 10%;
    font-size: 20px;
}

.content_us{
    margin-top: 5%;
    display: flex   ;
}


/* -------------------menu izquierda------- */

.btn_menu{
    margin-left: 18.5%;
    cursor: pointer;
    z-index: 3;
    border-radius: 50%;
    font-size: 30px;
    background-color: rgb(32,172,155);
    padding: 6px;
    color: white;
    margin-top: -2.8%;
    position: absolute;
}

.btn-active{
    margin-left: 1%;
    cursor: pointer;
    margin-top: 1.7%;
    font-size: 30px;
    z-index: 3;
    border-radius: 0;
    color: black;
    background-color: rgb(32,172,155);
    position: absolute;
}

.nav{
    position: absolute;
    
    border-right: 1px solid black;
    width: 20%;
    height: 50vh;
    margin-left: 0;
    transform: translateX(-0%);
    transition: all 0.9s;
}

.title_intruc{
    font-size: 40px;
    padding-top: 30px;    
    width: 100%;
    color: white;
    height: 16vh;
    background: var(--coloresgenerales1);
    text-align: center;
}

.img_logo{
    width: 100%;
    height: 35vh;
}


.sections{
    font-size: 30px;
    text-align: center;
}

.mostrar{
    display: none;
    transition: all 4s;
}


.menu{
    top: 58px;
    left: 0;
    width: 100%;
}


.menu ul{
    background: orange;
    display: flex;
    list-style: none;
}

.menu ul ul {
     display: block;
}

.menu a{
    display: block;
    padding: 15px 28px;
    color: #fff;
    text-decoration: none;
}

.menu a:hover{
    background: rgba(0, 0, 0, 0.3);
}

.menu a span{
    margin-left: 10px;
}

.menu ul li ul{
    display: none;
    position: static;
}

.menu ul li:hover ul{
    display: block;
    
    
}


.menu ul{
    flex-direction: column;
    display: block;
    background:var(--colorDefondoDelMenu);
}

.menu ul ul{
    background-color:var(--colorDefondoDelMenu2);
}


.menu a span{
    position: absolute;
    right: 6px;
}


.logo_institu{
    width: 65%;
    margin-left: 15%;
    height: 133.2px;
}


/*----------formulario-------------*/
.formulario{
    display: flex;
    width: 500px;
    height: 430px;
    position: absolute;
    left: 35%;
    top: 85px;
}

.titulo_insumo{
    padding-top: 110px;
    margin-left: 100px;
    font-size: 20px;
    color: #2A906E;
    text-align: center;
}
form{
    border: 1px solid #000;
    width: 500px;
    height: 430px;
    padding: 23px;
    border-radius: 15px;
    margin-top: 70px;
}
label{
    padding: 10px;
    font-weight: bold;
    display: block;
    color: black;
    font-family: serif;
    margin-left: 30px;
}
.insumo{
    margin-left: 5px;
    font-size: 15px;
    padding: 8px;
    width: 210px;
    border: 1px solid #000;
}
.insu{
    border: 1px solid #000;
    font-size: 15px;
    padding: 8px;
    width: 210px;
    float: right;
    margin-right: 5px;
    margin-top: -55px; 
}
.t_insu{
    margin-top: -93px;
    float: right;
    font-weight: bold;
    display: block;
    color: black;
    font-family: serif;
    padding-right: 28px;
}
.marca{
    margin-top: 10px;
    margin-left: 5px;
    font-size: 15px;
    padding: 8px;
    width: 210px;
    border: 1px solid #000;
}
.t_marca{
    padding: 10px;
    font-weight: bold;
    display: block;
    color: black;
    font-family: serif;
    margin-left: 10px;
}
.d_marca{
    padding: 8px;
    text-decoration: none;
    font-size: 15px;
    margin-left: 15px;
    color: #228B22;
}
.color{
    border: 1px solid #000;
    font-size: 15px;
    padding: 8px;
    width: 210px;
    float: right;
    margin-right: 5px;
    margin-top: -55px;
}
.t_color{
    margin-top: -105px;
    float: right;
    font-weight: bold;
    display: block;
    color: black;
    font-family: serif;
    padding-right: 40px;
}
.d_color{
    text-decoration: none;
    font-size: 15px;
    float: right;
    margin-right: 50px;
    margin-top: -41px;
    color: #228B22;
}
.estado{
    margin-top: 5px;
    margin-left: 110px;
    font-size: 15px;
    padding: 8px;
    width: 210px;
    border: 1px solid #000;
}
.t_estado{
    padding: 5px;
    font-weight: bold;
    display: block;
    color: black;
    font-family: serif;
    margin-left: 120px;
}
form a{
    padding: 8px;
    text-decoration: none;
    font-size: 15px;
    margin-left: 15px;
    color: #228B22;
}
.btn_insumo{
    font-weight: bold;
    margin-left: 155px;
    padding: 10px;
    margin-top: 30px;
    border: 0;
    border-radius: 10px;
    width: 120px;
    height: 35px;
    font-size: 13px;
    cursor: pointer;
    color: #000;
    background: #DC540C;
    box-shadow:20px 10px  20px rgba(226, 87, 6, 0.5);   
}