*{
    padding: 0%;
    margin: 0%;
}

/* informacion de la pagina de inicio*/
.encabezado{
    width: 100%;
    display: flex;
}

/*----------------------------------menu---------------------------------------*/
.menu{
    width: 88%;
    margin-left: 5%;
}
.navegacion {

    background-color: rgb(35, 130, 118) ;
    display: table;
    width: 100%;
    margin-top: 12px;
    border-color: rgb(35, 130, 118) transparent;
    border-style: solid;
    border-width: 5px;      
    
}
.menuu{
    width: 100%; 
    margin-left: 7%;
}

.navegacion  ul  li {
    list-style: none;
    margin: auto;
    margin-left: 5%;
   
}

.navegacion .menuu img{
    margin: -5px 5px;
}


.menuu  li {
    font-family: Verdana;
    display: inline-block;

}

.menuu  li a {
    display: block;
    padding: 15px 15px;
    color: black;
    font-family: Verdana;
    text-decoration: none;
}

.menuu > li > a:hover{
    color: white;
    border-radius: 8px;  
}
/*------------logo---------------*/
.logo{
    width: 11%;
    height: 135px; 
    background-color: #ddd9d6;
    -moz-border-radius: 0 0 100% 0;
    -webkit-border-radius: 0 0 100% 0;
    border-radius: 0 0 100% 0;
    position: absolute;
}
.logo img{
    width: 90px;
}
/*------------------ imagen de esquina------------ */
.esquina{
    width: 13%;
    background-color: #ddd9d6;
    position: absolute;
    margin-left: 86.89%;
    height: 140px; 
    -moz-border-radius: 0 0 0 100%;
    -webkit-border-radius: 0 0 0 100%;
    border-radius: 0 0 0 100%;
    
}
.esquina img{
    width: 150px;
    margin-left: 8%;
    margin-top: -5%;
}
/* --------------------paginas ------------------*/
.princi{
    display: flex;
    margin-top: 5%;
    height: 400px;
}
.paginas{
    position: relative;  
}
.paginas img:hover
{
    width: 75px;
    transform: translatey(3px);
}
.imagen{
    background-color: aqua;
    width: 80%;
    position: fixed;
    margin-left: 10%;
    height: 50%;
    background-image: url("../img/img1.jpg");
    opacity: 1;
}
.imagen:before {
	content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.6);
}

/*--------------- pie de pagina---------- */

.pie{
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 85px;
    background-color:  #ddd9d6 ;
    display: flex;
    align-items: flex-end;
    border-top: 2px solid rgba(255, 255, 255, 0.1);
    margin-left: 0px;
}

.one{
    width: 12%;
    height: 90px;
    margin-top: 12%;
}
 .two
{
    width: 10%;
    height: 80px;
}
.info 
{
    width: 80%;
   margin: 4px;
   margin-left: 33%;
}
.info p
{
    font-size: 12px;
    color: black;
    font-family: Verdana;
    margin: 4px;
    margin-left: 5px;
    font-family: Verdana;
}
.iniciar{
    width: 50%;
    margin-left: 10%;
    margin-top: 1%;
}
.iniciar a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: rgb(35, 130, 118);
}